<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <form action="">
          <div class="col-sm-6" style="margin-top: 20px;">
            <input v-model="options" type="text" class="form-control" />
          </div>

          <fieldset class="form-group">
            <legend>Radio button</legend>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  v-model="options"
                  type="checkbox"
                  class="form-check-input"
                  name="optionsRadios"
                  id="optionsRadios1"
                  value="option-1"
                  checked
                />
                Option one
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  v-model="options"
                  type="checkbox"
                  class="form-check-input"
                  name="optionsRadios"
                  id="optionsRadios1"
                  value="option-2"
                />
                Option two
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  v-model="options"
                  type="checkbox"
                  class="form-check-input"
                  name="optionsRadios"
                  id="optionsRadios1"
                  value="option-3"
                />
                Option three
              </label>
            </div>
          </fieldset>
          <p>You selected {{options.join(' & ')}}</p>
        </form>
      </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      let vm = new Vue({
        el: '#app',
        data: {
          message: '',
          options: []
        }
      });
    </script>
  </body>
</html>
